<footer class=" blue">
          <div class="footer-copyright blue">
            <div class="container blue center">
            <p class="white">
                © 2019 MusicFriends
            </p>
            {{!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> --}}
            </div>
          </div>
        </footer>