<nav class="blue">
    <div class="container">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo center logo-font">MusicFriends</a>
            <a href="#" data-target="main-menu" class="button-collapse sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
            <!-- RIGHT NAV -->
            <ul class="right hide-on-small-and-down">
                {{#if user}}
                    <li><a href="/auth/logout">Выйти</a></li>
                {{else}}
                    <li><a href="/auth/vkontakte">Войти</a></li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>
<!-- SIDE MENU -->
<ul class="sidenav" id="main-menu">    
    {{#if user}}
        <li>
            <a href="/auth/logout" class="btn blue darken-1"><i class="fab fa-vk"></i>Выйти</a>
        </li>
    {{else}}
        <li>
            <a href="/auth/vkontakte" class="btn blue darken-1"><i class="fab fa-vk"></i>Вход через ВК</a>
        </li>
    {{/if}}
    <li><a href="/posts"><i class="fas fa-search"></i>Найти</a></li>
    <li class="divider"></li>
    {{!-- <li><a href="/repbases"><i class="fas fa-building"></i>Репбазы</a></li>
    <li class="divider"></li> --}}
    {{#if user}}
        <li><a href="/posts/add"><i class="fa fa-plus"></i>Новая Запись</a></li>
        <li class="divider"></li>
        <li><a href="/profile"><i class="fas fa-user"></i>Мой Профиль</a></li>
        <li class="divider"></li>
    {{/if}}
</ul>
